@model IEnumerable<DisasterAlleviationFoundation.Models.MonetaryDonationModel>

@{
    ViewData["Title"] = "IncomingDonations";
}

<style>
    body {
        background-color: #f8f9fa;
        font-family: 'Arial', sans-serif;
    }

    h1 {
        text-align: center;
        color: white;
    }

    table {
        width: 80%;
        margin: 20px auto;
        border-collapse: collapse;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        background: linear-gradient(to right, #9932CC, #BA55D3);
        color: white;
        border-radius: 8px;
        opacity: 0.7;
    }

    th, td {
        padding: 12px 15px;
        text-align: left;
        border-bottom: 1px solid #dee2e6;
    }

    thead {
        background-color: #FF8C00;
    }

    tbody tr:nth-child(even) {
        background-color: #BA55D3;
    }

    tbody tr:hover {
        background-color: #FF8C00;
        transition: background-color 0.3s;
    }

    a {
        text-decoration: none;
        color: #007bff;
    }

        a:hover {
            color: white;
        }

    p {
        text-align: center;
        margin-top: 20px;
    }
</style>

<h1>Incoming Monetary Donations</h1>
<p>Proceed to Allocate Funds to view Total Amount</p>

<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonatorsName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonationAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DonatorsName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DonationAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DonationDate)
                </td>
            </tr>
        }
    </tbody>
</table>

<p class="back-link">
    <a asp-action="AdminHome">Back to Dashboard</a>
</p>
